<h1>Achievements!!!</h1>

<button ng-click="achievements.logout()" >Logout</button>


<!-- custom achievement section -->

<textarea  placeholder="Your baby did what?..." type="text" id="customAchievementText" name="customAchievementText" ng-model='achievements.customAchievement.text' ></textarea>

<input type="date" name="customAchievementDate" ng-model="achievements.customAchievement.date" />

<textarea  placeholder="with who or what?..." type="text" id="customAchievementComment" name="customAchievementComment" ng-model='achievements.customAchievement.comment' ></textarea>

<button ng-click="achievements.addCustomAchievement(achievements.customAchievement.text,achievements.customAchievement.comment, achievements.customAchievement.date)">Save Custom Achievement</button>



<br />
<br />

<!-- pre-filled achievement section  -->


<div class="achievementDiv" ng-repeat="individualAchievement in achievements.achievementList">



  <textarea type="text" id="achText" name="achText" class="form-control" ng-model='individualAchievement.achievement_text' > {{individualAchievement.achievement_text}} </textarea>

  <textarea placeholder = "{{individualAchievement.achievement_placeholder}}" type="text" id="achComm" name="achComm" class="form-control" ng-model='individualAchievement.achievementComment' > {{individualAchievement.achievementComment}} </textarea>

  <button ng-click="achievements.addAchievement(individualAchievement, individualAchievement.achievementComment)"> Save Achievement </button>


</div>


<div class="favoritedGiphyDiv" ng-repeat="individualGiphy in favGiphy.giphyList">
  <img ng-src="{{individualGiphy.giphy_url}}" alt=" image from giphy {{individualGiphy.giphy_url}}"/>
  <textarea  placeholder="Comment Here..." type="text" id="task" name="task" class="form-control" ng-model='individualGiphy.giphy_comment' > {{individualGiphy.giphy_comment}} </textarea>

  <button ng-click="favGiphy.updateFavoriteComment(individualGiphy)"> Update Comment </button>

  <button ng-click="favGiphy.removeGif(individualGiphy)"> Remove Giphy from Favorites </button>

</div>
