
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">Baby-Boom!</a></li>
        <li class="active"><a href="/achievementsPage">Milestones <span class="sr-only">(current)</span></a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li><a href="/buildPDF">Create the Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li><a href="/profilePage">Profile</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Milestones!!!</h1>


<button ng-click="achievements.logout()" >Logout</button>


<!-- custom achievement section -->
<div>


<textarea  placeholder="Your baby did what?..." type="text" id="customAchievementText" name="customAchievementText" ng-model='achievements.customAchievement.text' ></textarea>

<input type="date" name="customAchievementDate" ng-model="achievements.customAchievement.date" />

<textarea  placeholder="with who or what?..." type="text" id="customAchievementComment" name="customAchievementComment" ng-model='achievements.customAchievement.comment' ></textarea>

<button ng-click="achievements.addCustomAchievement(achievements.customAchievement.text,achievements.customAchievement.comment, achievements.customAchievement.date)">Save Custom Achievement</button>

</div>

<br />
<br />

<!-- pre-filled achievement section  -->


<div class="achievementDiv" ng-repeat="individualAchievement in achievements.achievementList">


  <textarea type="text" class="achText" name="achText" class="form-control" ng-model='individualAchievement.achievement_text' > {{individualAchievement.achievement_text}} </textarea>

  <textarea placeholder = "{{individualAchievement.achievement_placeholder}}" type="text" class="achComm" name="achComm" class="form-control" ng-model='individualAchievement.achievementComment' > {{individualAchievement.achievementComment}} </textarea>

<input type="date" name="achievementDate" ng-model="individualAchievement.achievementDate" />

  <button ng-click="achievements.addAchievement(individualAchievement)"> Save Achievement </button>


</div>
