<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">Baby-Boom!</a></li>
        <li><a href="/achievementsPage">Milestones</a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li class="active"><a href="/buildPDF">Create the Email <span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li><a href="/profilePage">Profile</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>Let's build a Page to send!</h1>



<div>

</div>

<!-- recent achievements selector selections -->
<div class="buildAchievementDiv">
<p>
  <span>1.</span> Select on up to four achievements.  Go back to the <a href="/completedPage">Completed Achievements Page</a> to edit the achievements.
</p>


<div class="achievementDiv" ng-repeat="achievement in buildpdf.achievementList">

<div class='checkbox'>

<label><input type="checkbox" ng-model="achievement.select" ng-change="buildpdf.checkAchChanged(achievement)" ng-disabled="(buildpdf.achievChecked == buildpdf.achievLimit) && !achievement.select" />Select</label>
</div>

  <input type="date" name="achievementDate" class="form-control buildpdf-ach-date" ng-model="achievement.achievement_completed_date" disabled/>

  <input type="text" name="achText" class="form-control buildpdf-ach-text" ng-model='achievement.achievement_completed_text' disabled />

  <input  type="text" name="achComm" class="form-control buildpdf-ach-comment" ng-model='achievement.achievement_completed_comment' disabled />

  </div>
</div>

<!-- photo selector section -->

<div class="buildPhotoDiv">
<p>
   <span>2.</span> Click one photo to use.  Go back to the <a href="/photosPage">Photos Page</a> to edit the photo comments.
</p>

<div class="indivPhoto text-center" ng-repeat="picture in buildpdf.photoList">
<img ng-src="{{picture.picture_url}}" />
<div>
  <!-- <div class='checkbox'> -->

  <label><input type="checkbox" ng-model="picture.select" ng-change="buildpdf.checkPicChanged(picture)" ng-disabled="(buildpdf.photoChecked == buildpdf.photoLimit) && !picture.select" />
  </label>
  <!-- </div> -->
    <p>
      {{picture.picture_comment}}
    </p><p>
      {{picture.picture_originalname}}
    </p>
</div>
</div>
</div>


<div class="buildTheBuild">

  <p>
     <span>3.</span> After selecting up to four achievements and a photo, double check to ensure that the setup looks correct below.
  </p>

<!-- <div class=>

</div> -->


<div class="builtPdf  text-center" >
  <p id="buildPdf-title">
    {{buildpdf.babyName}}<br />
    {{buildpdf.calculatedMonths}}{{buildpdf.calculatedMonthsText}}
  </p>
<img ng-src={{buildpdf.photoForPdf.picture_url}} />
<div>

    <p class="text-left builtPdf-p" ng-repeat="achieve in buildpdf.achPdfList">
      {{achieve.achievement_completed_date_string}} -- {{achieve.achievement_completed_text}} -- {{achieve.achievement_completed_comment}}
    </p>



</div>
</div>


<button class="text-center btn btn-success" type="button" ng-disabled="((buildpdf.photoChecked == 0) && (buildpdf.achievChecked == 0)) || buildpdf.sendingEmail" ng-click="buildpdf.sendEmail()">Click to email!</button>


</div>
