<h1> Completed Achievements </h1>


<!-- completed achievements -->
<div class="completedDiv" ng-repeat="individualCompletedAch in completed.completedList">


  <textarea type="text" id="achText" name="achText" class="form-control" ng-model='individualCompletedAch.achievement_text' > {{individualAchievement.achievement_text}} </textarea>

  <textarea placeholder = "{{individualAchievement.achievement_placeholder}}" type="text" id="achComm" name="achComm" class="form-control" ng-model='individualCompletedAch.achievementComment' > {{individualAchievement.achievementComment}} </textarea>

<input type="date" name="achievementDate" ng-model="individualCompletedAch.achievementDate" />

  <button ng-click="completed.addAchievement(individualAchievement)"> Save Achievement </button>


</div>
