<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="mainTitleText"><a href="/home">Baba Baby Boom</a></li>
        <li><a href="/achievementsPage">Milestones</a></li>
        <li class="active"><a href="/completedPage">Baby's Achievements <span class="sr-only">(current)</span></a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li><a href="/buildPDF">Create an Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li><a href="/profilePage">Profile</a></li>
        <li><button class="btn btn-info navbar-btn" ng-click="completed.logout()" >Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">


<h1> Completed Achievements </h1>

<p>
  Review your baby's recent achievements:
</p>

<!-- completed achievements -->

<div class="completedDiv" ng-repeat="individualCompletedAch in completed.completedList">

<div class="row">

  <textarea type="text" class="achText col-xs-4" name="achText" class="form-control" ng-model='individualCompletedAch.achievement_completed_text' ng-change="completed.achChanged(individualCompletedAch)" ng-disabled="individualCompletedAch.disabledAch"> {{individualAchievement.achievement_completed_text}} </textarea>

  <textarea type="text" class="achComm col-xs-4" name="achComm" class="form-control" ng-model='individualCompletedAch.achievement_completed_comment' ng-change="completed.achChanged(individualCompletedAch)" ng-disabled="individualCompletedAch.disabledAch"> {{individualAchievement.achievement_completed_comment}} </textarea>

<input type="date" name="achievementDate" class="col-xs-2" ng-model="individualCompletedAch.achievement_completed_date" value="individualCompletedAch.achievement_completed_date" ng-disabled="individualCompletedAch.disabledAch"/>

  <button class="btn btn-success col-xs-2" ng-hide="individualCompletedAch.hideButton" ng-click="completed.updateCompleted(individualCompletedAch)">Save Update</button>

</div>
</div>
</div>
