<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="mainTitleText"><a href="/home">Baba Baby Boom</a></li>
        <li><a href="/achievementsPage">Milestones</a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li><a href="/buildPDF">Create the Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/contactsPage">Contacts <span class="sr-only">(current)</span></a></li>
        <li><a href="/profilePage">Profile</a></li>
        <li><button class="btn btn-info navbar-btn" ng-click="contacts.logout()" >Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<h1> Contacts </h1>

<button ng-click="contacts.logout()" >Logout</button>


<!-- add a enw contact -->
<div>

<h2>Add a new Contact:</h2>


<form class="" ng-submit="contacts.addNewContact(contacts.newContactName,contacts.newContactEmail)">
  <div class="form-group row">
<input  placeholder="Name" type="text" id="newContactName" name="newContactName" ng-model='contacts.newContactName' required />

<input type="email" placeholder="Email" name="newContactEmail" ng-model="contacts.newContactEmail" required />

<button type="submit" class="btn btn-primary" ng-disabled="contacts.$invalid">Save New Contact</button>

</div>

</div>



<h2>My Contacts:</h2>
<!-- completed achievements -->
<div class="contactsDiv" ng-repeat="individualContact in contacts.contactList">


  <input type="text" class="contactName" name="contactname" class="form-control" ng-model='individualContact.contactname' />

  <input type="text" class="contactEmail" name="contactEmail" class="form-control" ng-model='individualContact.contactemail' />

  <button class="btn btn-primary" ng-click="contacts.updateContact(individualContact)"> Update Contact Info </button>

  <button class="btn btn-danger" ng-click="contacts.deleteContact(individualContact)"> Delete Contact Info </button>


</div></div>
