<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="mainTitleText active"><a href="/home">Baba Baby Boom <span class="sr-only">(current)</a></li>
        <li><a href="/achievementsPage">Milestones</span></a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li><a href="/buildPDF">Create the Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li><a href="/profilePage">Profile</a></li>
        <li><button class="btn btn-info navbar-btn" ng-click="home.logout()" >Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">

<h1>Home</h1>


<p>

</p>
we can start with recording some new achievements
<p>
Achievements <a  href="/achievementsPage"><button id="achievementsButton" class="btn btn-default">achievements</button></a>
</p>

we can start saving some new photos
<p>
photos <a  href="/photosPage"><button id="photosButton" class="btn btn-default">photo</button></a>
</p>

we could check our completed achievements
<p>
Achievements <a  href="/completedPage"><button id="completedButton" class="btn btn-default">completed achievements</button></a>
</p>




we could check our contacts
<p>
Contacts <a  href="/contactsPage"><button id="contactButton" class="btn btn-default">contacts</button></a>
</p>


we can review our profile:

<p>
  Profile <a  href="/profilePage"><button id="profileButton" class="btn btn-default">profile</button></a>
</p>

we can create the pdf / document:

<p>
  Create PDF <a  href="/buildPDF"><button id="profileButton" class="btn btn-default">buildpdf</button></a>
</p>
</div>
