<h1>Home</h1>

<button ng-click="home.logout()" >Logout</button>

<p>

</p>
we can start with recording some new achievements
<p>
Achievements <a  href="/achievementsPage"><button id="achievementsButton" class="btn btn-default">achievements</button></a>
</p>

we can start saving some new photos
<p>
photos <a  href="/photosPage"><button id="photosButton" class="btn btn-default">photo</button></a>
</p>

we could check our completed achievements
<p>
Achievements <a  href="/completedPage"><button id="completedButton" class="btn btn-default">completed achievements</button></a>
</p>




we could check our contacts
<p>
Contacts <a  href="/contactsPage"><button id="contactButton" class="btn btn-default">contacts</button></a>
</p>


we can review our profile:

<p>
  Profile <a  href="/profilePage"><button id="profileButton" class="btn btn-default">profile</button></a>
</p>

we can create the pdf / document:

<p>
  Create PDF <a  href="/buildPDF"><button id="profileButton" class="btn btn-default">buildpdf</button></a>
</p>
