<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="mainTitleText"><a href="/home">Baba Baby Boom</a></li>
        <li><a href="/achievementsPage">Milestones</a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li class="active"><a href="/photosPage">Photos <span class="sr-only">(current)</span></a></li>
        <li><a href="/buildPDF">Create an Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li><a href="/profilePage">Profile</a></li>
        <li><button class="btn btn-info navbar-btn" ng-click="photos.logout()" >Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">



<h1>Photos</h1>



<!-- <form name="form" id="picForm" >
    <div>
      <div>
          <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">Select Picture</button>
          <span> {{file.$ngfName}} </span>
          <img ngf-thumbnail="file || '/images/upload.svg'" >
      </div>
        <input type="text" ng-model="comment" placeholder="Add comment.. " class="u-full-width" />
        <button type="submit" ng-click="submit()">Upload</button>
    </div>
</form> -->


<!-- get pictures -->
<form name="form"  >

        <div ngf-select type="file" ng-model="photos.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-fix-orientation="true">
            <button>Select Picture</button>   <span> {{photos.file.$ngfName}} </span> <img ngf-thumbnail="photos.file || '../images/babyboom-logo-2.png'" height=30px></div>
    <input id="photoInputComment" type="text" ng-model="photos.comment" placeholder="Add comment.. " />
    <button type="submit" ng-click="photos.submit()" >Upload</button>

</form>
<br />
<!-- show pictures -->
<div class="flex-container">


<div class="indivPhoto text-center" ng-repeat="picture in photos.photoList">
<img ng-src="{{picture.picture_url}}" />
<div>
    <p>
      {{picture.picture_comment}}
    </p><p>
      {{picture.picture_originalname}}
    </p>
</div>
</div>
</div>
</div>
