<h1>Photos</h1>


<!-- get pictures -->
<form name="form"  >

        <div ngf-select type="file" ng-model="photos.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" >
            <button>Select Picture</button></div>
    <input type="text" ng-model="photos.comment" placeholder="Add comment.. " />
    <button type="submit" ng-click="photos.submit()" >Upload</button>

</form>

<!-- show pictures -->

<div class="indivPhoto text-center" ng-repeat="picture in photos.photoList">
<img ng-src="{{picture.picture_url}}" />
<div>
    <p>
      {{picture.picture_comment}}
    </p><p>
      {{picture.picture_originalname}}
    </p>
</div>
</div>
