<h1>Photos</h1>



<form name="form"  >
 <!-- <span> {{photos.file.$ngfName}} </span> -->
<!-- ngf-min-height="100" ngf-resize="{width: 800, height: 800}" -->
<!-- ngf-pattern="'image/*'" ngf-accept="'image/*'"  -->


<!-- <input type="file" ngf-select ng-model="photos.file" name="file" accept="image/*" ngf-max-size="20MB" required ngf-model-invalid="errorFile" /> -->

        <div ngf-select type="file" ng-model="photos.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" >
            <button>Select Picture</button></div>
    <input type="text" ng-model="photos.comment" placeholder="Add comment.. " />
    <button type="submit" ng-click="photos.submit()" >Upload</button>

</form>

<div class="indivPhoto" ng-repeat="picture in photos.photoList">
<img ng-src="{{picture.picture_url}}" />
<div>
    <p>
      {{picture.picture_comment}}
    </p><p>
      {{picture.picture_originalname}}
    </p>
</div>
</div>
