<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img style="height: 20px;" alt="Baby Boom Logo and Home Link" src="../images/babyboom-logo-2.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">Baby-Boom!</a></li>
        <li><a href="/achievementsPage">Milestones</a></li>
        <li><a href="/completedPage">Baby's Achievements</a></li>
        <li><a href="/photosPage">Photos</a></li>
        <li><a href="/buildPDF">Create the Email</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contactsPage">Contacts</a></li>
        <li class="active"><a href="/profilePage">Profile <span class="sr-only">(current)</span></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1>Profile Page</h1>

<button ng-click="profile.logout()" >Logout</button>




<div class="profile-container col-xs-12">
  <form  class="form-horizontal" id="profile-form" ng-submit="profile.updateProfile()">
    <div class="form-group">
      <label for="username" class="col-xs-3 control-label">Email</label>

      <div class="col-xs-9">

        <input placeholder="profile.username" type="email" id="username" name="username" class="form-control" value='{{profile.username}}'>(email cannot be changed)</input>
      </div>
    </div>

    <div class="form-group">
      <label for="realName" class="col-xs-3 control-label">Full Name</label>
      <div class="col-xs-9">
        <input placeholder="profile.realName" type="text" id="realName" name="realName" class="form-control" ng-model='profile.realName' > </input>
      </div>
    </div>

    <div class="form-group">
      <label for="babyName" class="col-xs-3 control-label">Baby's Name</label>
      <div class="col-xs-9">
        <input placeholder="profile.babyName" type="text" id="babyName" name="babyName" class="form-control" ng-model='profile.babyName' ></input>
      </div>
    </div>

    <div class="form-group">
      <label for="babyBirthday" class="col-xs-3 control-label">Baby's Birthday (or expected birthday)</label>
      <div class="col-xs-9">
        <input placeholder="profile.babyBirthday" type="date" id="babyBirthday" name="babyBirthday" class="form-control" ng-model='profile.babyBirthday' > </input>
      </div>
    </div>
    <div class="form-group">
       <div class="col-xs-offset-3 col-xs-9">
         <button type="submit" class="btn btn-default">Save Changes</button>
       </div>
     </div>

  </form>
</div>
