
<div class="container">

<div class="col-xs-12 text-center" id="bigLogo">
  <img src="../images/babyboom-logo.png" alt="Baby Boom Logo">
</div>

<div>
  <form class="form-horizontal col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 well" ng-submit="register.register()">
  <div id="registerLoginTitle">
    <p>
      Register  <a  href="/login"><button id="backToLoginButton" class="btn btn-default">back to Login</button></a>
    </p>

  </div>
  <br />
    <div class="form-group row">
      <label class="control-label col-xs-3">Email:</label>
      <div class="col-xs-8">
        <input class="form-control" type="email" ng-model="register.username" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label  col-xs-3">Password:</label>
      <div class="col-xs-8">
        <input class="form-control" type="password" ng-model="register.password" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-xs-3">Full Name</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" ng-model="register.userFullName" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-xs-3">Baby's Name</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" ng-model="register.babyName" required>
      </div>

    </div>
    <div class="form-group row">
      <label class="control-label col-xs-3">Baby's Birthday (or expected birthday)</label>
      <div class="col-xs-8">
        <input class="form-control" type="date" ng-model="register.babyBirthday" required>
      </div>
    </div>



    <div class="col-xs-offset-3 col-xs-8">
      <button type="submit" class="btn btn-primary" ng-disabled="register.$invalid" >Register</button>
    </div>
  </form>



<div class='col-xs-12 text-center'  ng-show="register.message">
  <div class="alert alert-warning" > <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Uh oh!</strong> {{register.message}}. Please try again.
  </div>
</div>

</div>
</div>
