/* styles */

body {
  background-color: aliceblue;
}

.navbar {
  background-color: #FCFFB9;
}

.nav.active {
  background-color: #FFA66B;
}

.mainTitleText {
  font-family: 'Milonga', sans-serif;
  font-size: 1.2em;
  color: black;
  /*font-weight: bold;*/
  /*font-family: 'Milonga', cursive;
font-family: 'Roboto', sans-serif;*/
}



#emailDiv {
  text-align: center;
}

#emailProgresDiv {
    width: 100%;
    font-size: 1.5em;
      /*border: 4px solid #B3F7FF;*/
}

#emailProgresDiv img {
    width: 100%;
    border: 4px solid #B3F7FF;
}



#registerLoginTitle {
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

#backToLoginButton {
  float: right;
}

#bigLogo  {
  padding: 18px 10px;
}


#bigLogo img {
  width: 200px;
}


.homePageText {
  font-size: 1.2em;
}

.homePageText span {
  font-size: 1.6em;
    font-family: 'Milonga', sans-serif;
    font-weight: bold;
}

#customAchievementText, #customAchievementComment, .achComm, .achText {
  resize: vertical;
  border-radius: 3px;
}

.achievementDiv, .completedDiv {
    /*border: 1px solid black;*/
    border-radius: 3px;
    margin: 3px 3px;
}


/*div {
  border: 1px solid black;
}*/


.loginTextBox {
    border: 1px solid black;
    text-align: center;
    padding: 5px 5px;
    font-size: 1.5em;
    background-color: #FFAB73;
}

.loginTextBox span {
    font-family: 'Milonga', sans-serif;

}



.loginDemoPhotoDiv {
    text-align: center;
    margin: 18px 5px;
}

#loginDemoPhoto {
  max-width: 400px;
  border: 1px solid black;

}



.buildAchievementDiv {
  width: 40%;
  float: left;
  overflow: hidden;
}

.buildPhotoDiv {
  width: 210px;
  float: left;
  overflow: hidden;
}

.buildTheBuild {
  width: 35%;
  float: right;
}

.buildAchievementDiv > p, .buildPhotoDiv > p, .buildTheBuild > p {
  border: 1px solid black;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
}

.buildAchievementDiv > p > span, .buildPhotoDiv > p > span, .buildTheBuild > p > span {
  float: left;
  font-size: 200%;
  font-weight: bold;
  padding: 0px 3px 0px 2px;
}

.builtPdf {
  width: 100%;
  border: 1px solid black;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
}

.builtPdf-p {

}

#buildPdf-title {
  font-size: 2em;
  font-weight: bold;
  padding: 2px 2px;
}



.flex-container {
  padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#photoInputComment {
  width: 400px;
}

.indivPhoto {
  border: 1px solid black;
  width: 200px;
  height: 300px;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}

.indivPhoto img, .builtPdf img {
  max-width: 95%;
  max-height: 75%
}

.indivPhoto p {
  padding: 2px 2px;
}
