/* styles */

#registerLoginTitle {
  border-bottom: 1px solid black;
}

#backToLoginButton {
  float: right;
}

#bigLogo  {
  padding: 10px 10px;
}


#bigLogo img {
  width: 200px;
}


/*div {
  border: 1px solid black;
}*/

#loginDemoPhoto {
  max-width: 300px;
  border: 1px solid black;
}

.buildAchievementDiv {
  width: 40%;
  float: left;
  overflow: hidden;
}

.buildPhotoDiv {
  width: 210px;
  float: left;
  overflow: hidden;
}

.buildTheBuild {
  width: 35%;
  float: right;
}

.buildAchievementDiv > p, .buildPhotoDiv > p, .buildTheBuild > p {
  border: 1px solid black;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
}

.buildAchievementDiv > p > span, .buildPhotoDiv > p > span, .buildTheBuild > p > span {
  float: left;
  font-size: 200%;
  font-weight: bold;
  padding: 0px 3px 0px 2px;
}

.builtPdf {
  width: 100%;
  border: 1px solid black;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
}

.achievementDiv {
    border: 1px solid black;
    border-radius: 3px;
}

.builtPdf-li {
  list-style-type: none;
}

.indivPhoto {
  border: 1px solid black;
  width: 200px;
  height: 300px;
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 3px;
  overflow: hidden;
}

.indivPhoto img, .builtPdf img {
  max-width: 95%;
  max-height: 75%
}

.indivPhoto p {
  padding: 2px 2px;
}
